name: CI PHP Login

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  call-reusable-workflow:
    uses: Honorio15/login.php/.github/workflows/login.yml@main
    with:
      php-version: '8.2'
